@media (min-width: 1px) {
  .container {
    min-height: 95vh;
    text-align: center;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .description {
    color: rgb(120, 120, 120);
    font-size: clamp(14px, 2vw, 16px);
    margin-top: 1rem;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
    margin-top: 2rem;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.6rem;
      padding: 1rem;
      padding-block: 0.8rem;
      border: 1px solid transparent;
      box-sizing: border-box;
      width: 10rem;
      transition: 150ms linear;


      padding: 0.6rem;
      padding-block: 1rem;
      border: 1px solid whitesmoke;
      background: white;
      border-radius: 100rem;
    }

    .button:hover {
      opacity: 1;
      border: 1px solid #007fff40;
      background: #007fff05;
    }
  }
}