@media (min-width: 1px) {
  .cardHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 8rem;
    border: 1px solid #007fff40;
    background: #007fff20;
    cursor: pointer;
    transition: 350ms ease-in-out;
  }

  .card:hover {
    transform: translateY(-2rem);
  }

  .cardHolder:hover > :not(:hover) {
    background: #007fff05;
  }
}